<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>website</title>
        <link rel="icon" type="image/png" sizes="512x512" href="src/assets/img/Icon/Feng_Chia_University_Logo.png">
        <link rel="stylesheet" href="src/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="src/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="src/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="src/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="src/assets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="src/assets/fonts/line-awesome.min.css">
        <link rel="stylesheet" href="src/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="src/assets/css/costum.css">
        <link rel="stylesheet" href="src/assets/css/Login-Form-Dark.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <section id="app" class="login-dark" style="height: 1081px;background: url(&quot;src/assets/img/background/login.jpg&quot;);">
            <form method="post" style="background: rgba(15,25,35,0.9);">
                <h2 class="visually-hidden">Login Form</h2>
                <div class="illustration">
                    <i class="icon ion-ios-locked-outline"></i>
                </div>

                <div class="mb-3">
                    <input v-model="nid" @keyup.enter="login_func" id="nid" class="form-control" type="text" name="nid" placeholder="NID" style="border-bottom-color: rgb(112,128,146);">
                </div>

                <div class="mb-3">
                    <input v-model="password" @keyup.enter="login_func" id="login_password" autocomplete class="form-control" type="password" name="password" placeholder="Password">
                </div>

                <div class="mb-3">
                    <button @click="login_func" class="btn btn-primary d-block w-100" type="button">Log In</button>
                </div>
            </form>
        </section>
    </body>

    <script>
        let app = Vue.createApp({
            data(){
                return {
                    nid: "",
                    password: "",
                }
            },
            methods:{
                async login_func() {
                    if (this.nid == "") {
                        alert("Please enter NID");
                        return
                    }
                    if (this.password == ""){
                        alert("Please enter Password");
                        return
                    }

                    const password = this.password;
                    const encoder = new TextEncoder();
                    const data = encoder.encode(password);
                    const hash = await crypto.subtle.digest("SHA-256", data);
                    const hash_array = Array.from(new Uint8Array(hash));
                    const hash_hex = hash_array.map((b) => b.toString(16).padStart(2, "0")).join("");
                    this.hash_password = hash_hex;

                    axios.defaults.baseURL = "http://localhost:8000";
                    axios.defaults.headers = {"Content-Type":"application/json","accept":"application/json"}

                    // post method
                    axios.post("/login",null ,{params: {"nid": this.nid.toUpperCase(),"password": this.hash_password}}).then(
                        function(response){
                            console.log(response.data,"post")

                        }
                    )
                },
            }
        });
        app.mount("#app");
    </script>
</html>